@model EOLCombinationModel

@{
    ViewData["Title"] = "CombinedCustomerReport";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var objHelperClass = new HelperClass();

}
@section Headers
{
    <link rel="stylesheet" type="text/css" href="~/assets/extra-libs/prism/prism.css">

}


<div class="row">
    <div class="col-md-12">
        <div class="material-card card">
            <div class="card-body">
                <div class="table-responsive">
                    <form action="~/Home/CombinedCustomerReport" method="post">
                        <table>
                            <tr>
                                <td class="col-md-8"><input asp-for="@Model.SearchText" type="text" class="form-control" placeholder="Enter Client Name."></td>
                                @*<td>
                                        <input type="date" class="form-control" asp-for="@Model.StartDate" value="@DateTime.Now.AddDays(-7).Date">
                                    </td>
                                    <td>
                                        <input type="date" class="form-control" asp-for="@Model.EndDate" value="@DateTime.Now.Date">
                                    </td>*@
                            </tr>

                            <tr>
                                <td class="col-md-4"><button type="submit" class="btn btn-primary">Search</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Combined Report for Customer</h6>


                <div class="col-lg-12 col-xl-12">
                    <div style="height:200px;width:100%;overflow-x:scroll;">
                        @if (Model.OrionList.Count() > 0)
                        {
                            <table>

                            </table>
                        }
                            
                        </div>
                    <div class="nav flex-column nav-pills"  id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        @if (Model.OrionList.Count() > 0)
                        {
                            var count = 1;

                       
                            @foreach (var item in Model.OrionDistinctList)
                            {
                                var boolValue = "false";
                                var str = "";
                                if (count == 1)
                                {
                                    boolValue = "true";
                                    str = "active";
                                }
                                var dataunq = item.Replace("~", " ");
                                var dataunq1 = item.Split("~");
                                var desc = dataunq1[0];
                                var iosver = dataunq1[1];

                               
                                    <a class="nav-link @str"  id="v-pills-@count-tab" data-toggle="pill" href="#v-pills-@count" role="tab" aria-controls="v-pills-@count" aria-selected="@boolValue">
                                        @desc<br />
                                        <span>@iosver</span>
                                    </a>



                                count += 1;
                            }
                        
                        }
                    </div>
                </div>
                <div class="col-lg-12 col-xl-12">
                    <div class="tab-content p-4" id="v-pills-tabContent">
                        @if (Model.OrionList.Count() > 0)
                        {
                            var count = 1;
                            var str = "";

                            @foreach (var itemdisList in Model.OrionDistinctList)
                            {
                                var dataunq = itemdisList.Split("~");
                                var desc = dataunq[0];
                                var iosver = dataunq[1];

                                var iosfromRow = iosver;
                                var spliVal = iosfromRow.Split(",");
                                if (spliVal.Count() > 0)
                                {
                                    iosfromRow = spliVal[0];
                                }

                                if (count == 1)
                                {
                                    str = "show active";

                                }
                                else
                                {
                                    str = "";

                                }
                                var OrionListDisct = Model.OrionList.Where(r => objHelperClass.isAllowed(r, "Description", desc, "IOSVersion", iosver)).ToList();

                                if (OrionListDisct.Count > 0)
                                {
                                    var tableName = "complex_head_col_" + count;
                                    <div class="tab-pane fade @str" id="v-pills-@count" role="tabpanel" aria-labelledby="v-pills-@count-tab">



                                        <div class="table-responsive" style="overflow-y:scroll;overflow-x:scroll">

                                            <table id="@tableName" class="table table-bordered display" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        @foreach (var key in OrionListDisct[0].Keys)
                                                        {
                                                            <th> @key </th>
                                                        }
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in OrionListDisct)
                                                    {

                                                        <tr>

                                                            @foreach (var itemVal in item)
                                                            {
                                                                <td>@itemVal.Value</td>
                                                            }

                                                        </tr>

                                                    }
                                                </tbody>
                                            </table>

                                        </div>





                                        @foreach (var currentIOS in spliVal)
                                        {
                                            if (Model.VuldistList.Where(r => r.Key == currentIOS).Count() > 0)
                                            {
                                                var vulnRows = Model.VuldistList.Where(r => r.Key == currentIOS).ToList();
                                                foreach (var item in vulnRows)
                                                {
                                                    var vulList = item.Value;

                                                    if (vulList.Count > 0)
                                                    {
                                                        var vulListCount = 1;


                                                        <div class="table-responsive" style="height:500px;overflow-y:scroll;overflow-x:scroll">

                                                            <table id="complex_head_Vul_@count" class="table table-bordered display" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th>advisory Id</th>
                                                                        <th>impact</th>
                                                                        <th>cvss BaseScore</th>
                                                                        <th>status</th>
                                                                        <th>version</th>
                                                                        <th width="50px">bug IDs</th>
                                                                        <th>First Published</th>
                                                                        <th>Last Updated</th>
                                                                        <th>advisory Title</th>
                                                                        <th>cvrf Url</th>
                                                                        <th width="50px">ips Signatures</th>
                                                                        <th>CWE</th>
                                                                        <th width="50px" height="50px">productNames</th>
                                                                        <th>publicationUrl</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>




                                                                    @foreach (var itemVuln in vulList)
                                                                    {
                                                                        <tr>
                                                                            <td>@itemVuln.advisoryId  </td>
                                                                            <td>@itemVuln.sir  </td>
                                                                            <td>@itemVuln.cvssBaseScore</td>
                                                                            <td>@itemVuln.status  </td>
                                                                            <td>@itemVuln.version  </td>
                                                                            <td>@string.Join(",", itemVuln.bugIDs)  </td>
                                                                            <td>@itemVuln.firstPublished  </td>
                                                                            <td>@itemVuln.lastUpdated  </td>
                                                                            <td>@itemVuln.advisoryTitle  </td>
                                                                            <td>
                                                                                <button type="button" class="btn btn-primary" onclick="GetPartialView('@itemVuln.cvrfUrl','exampleModal_@vulListCount');" >Get More Details</button>
                                                                                <div class="modal fade" id="exampleModal_@vulListCount" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                                                                                    <div class="modal-dialog" role="document" style="width:1250px;">
                                                                                        <div class="modal-content"style="width:1250px;">
                                                                                            <div class="modal-header">
                                                                                                <h4 class="modal-title" id="exampleModalLabel1">New message</h4>
                                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                                            </div>
                                                                                            <div class="modal-body">
                                                                                                <form>
                                                                                                    <div class="form-group">
                                                                                                       <div id="partialView"></div>

                                                                                                    </div>

                                                                                                </form>
                                                                                            </div>
                                                                                            <div class="modal-footer">
                                                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </td>

                                                                            <td>@string.Join(",", itemVuln.ipsSignatures)</td>


                                                                            <td>@string.Join(",", itemVuln.cwe)</td>
                                                                            <td>@string.Join(",", itemVuln.productNames)</td>
                                                                            <td>@itemVuln.publicationUrl  </td>


                                                                        </tr>

                                                                        vulListCount += 1;


                                                                    }




                                                                </tbody>
                                                            </table>

                                                        </div>

                                                    }
                                                }
                                            }
                                        }




                                        @if (OrionListDisct.Count() > 0)
                                        {
                                            var runonce = true;
                                            foreach (var item in OrionListDisct)
                                            {
                                                if (runonce)
                                                {
                                                    foreach (var itemInner in item)
                                                    {
                                                        if (itemInner.Key.ToLower() == "c_HW_Model".ToString().ToLower())
                                                        {
                                                            var productID = itemInner.Value.ToString();
                                                            var currentEOD = Model.EOLList.EOXRecord.Where(r => r.EOLProductID.ToLower() == productID.ToLower()).FirstOrDefault();
                                                            if (currentEOD != null)
                                                            {

                                                                <div class="table-responsive" style="overflow-x:scroll;overflow-y:scroll">
                                                                    <table id="complex_head_col_EOD_@count" class="table table-bordered display" style="width:100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Product ID</th>
                                                                                <th>Product Description</th>
                                                                                <th>End-of-Sale Date</th>
                                                                                <th>End of SW Maintenance Releases Date: HW</th>
                                                                                <th>End of Routine Failure Analysis Date: HW</th>
                                                                                <th>End of New Service Attachment Date: HW</th>
                                                                                <th>End of Vulnerability/Security Support: OS SW</th>
                                                                                <th>End of Service Contract Renewal Date: HW</th>
                                                                                <th>Last Date of Support: HW</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>

                                                                            <tr>

                                                                                <td>
                                                                                    @currentEOD.EOLProductID
                                                                                </td>
                                                                                <td>
                                                                                    @currentEOD.ProductIDDescription
                                                                                </td>




                                                                                @if (currentEOD.EndOfSaleDate.value == null)
                                                                                {
                                                                                    <td> </td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td> @currentEOD.EndOfSaleDate.value.Value.ToShortDateString() </td>

                                                                                }


                                                                                @if (currentEOD.EndOfSWMaintenanceReleases.value == null)
                                                                                {
                                                                                    <td> </td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td> @currentEOD.EndOfSWMaintenanceReleases.value.Value.ToShortDateString() </td>

                                                                                }
                                                                                @if (currentEOD.EndOfRoutineFailureAnalysisDate.value == null)
                                                                                {
                                                                                    <td> </td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td> @currentEOD.EndOfRoutineFailureAnalysisDate.value.Value.ToShortDateString() </td>

                                                                                }

                                                                                @if (currentEOD.EndOfSvcAttachDate.value == null)
                                                                                {
                                                                                    <td> </td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td> @currentEOD.EndOfSvcAttachDate.value.Value.ToShortDateString() </td>

                                                                                }


                                                                                @if (currentEOD.EndOfSecurityVulSupportDate.value == null)
                                                                                {
                                                                                    <td> </td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td> @currentEOD.EndOfSecurityVulSupportDate.value.Value.ToShortDateString() </td>

                                                                                }

                                                                                @if (currentEOD.EndOfServiceContractRenewal.value == null)
                                                                                {
                                                                                    <td> </td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td> @currentEOD.EndOfServiceContractRenewal.value.Value.ToShortDateString() </td>

                                                                                }

                                                                                @if (currentEOD.LastDateOfSupport.value == null)
                                                                                {
                                                                                    <td> </td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td> @currentEOD.LastDateOfSupport.value.Value.ToShortDateString() </td>

                                                                                }



                                                                            </tr>

                                                                        </tbody>
                                                                    </table>

                                                                </div>


                                                            }
                                                        }
                                                    }
                                                }
                                                runonce = false;
                                            }

                                        }





                                    </div>


                                }
                                count += 1;


                            }
                        }
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


@section Scripts
{
    <!--This page JavaScript -->
    <script src="~/assets/extra-libs/treeview/dist/bootstrap-treeview.min.js"></script>
    <script src="~/assets/extra-libs/treeview/dist/bootstrap-treeview-init.js"></script>
    <script src="~/dist/js/custom.min.js"></script>
    <script src="~/assets/extra-libs/prism/prism.js"></script>
    <script>
        function ShowOrionTable(val) {
            alert("reached");
            var x = document.getElementsByName("right-table").querySelectorAll("right-part");
            x.style.display = "none";
            document.getElementById("Table_" + val).style.display = 'block';
        }

        $(document).ready(function () {
            var allTable = document.getElementsByClassName("table-bordered")
            var i;
            for (i = 1; i < allTable.length + 1; i++) {
                var tableName = 'complex_head_col_' + i;

                $('#' + tableName + '').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'csv', 'excel', 'pdf', 'print'
                    ]
                });


                var tableName1 = 'complex_head_Vul_' + i;

                $('#' + tableName1 + '').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'csv', 'excel', 'pdf', 'print'
                    ]
                });

                var tableName2 = 'complex_head_col_EOD_' + i;

                $('#' + tableName2 + '').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'csv', 'excel', 'pdf', 'print'
                    ]
                });
            }
        });



        function GetPartialView(xmlLink, modelName) {

            $.ajax({
                url: '@Url.Action("_PartialViewModel","Home")',
                type: "GET",
                data: { xmlLinkValue: xmlLink }
            })
                .done(function (partialresult) {
                    $('#partialView').html(partialresult);
                    $('#' + modelName).modal("show");

            });

        }



    </script>
}


