@model EOLCombinationModel
@{
    ViewData["Title"] = "EOLOrion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="col-md-12">
            <div class="material-card card">
                <div class="card-body">
                    <div class="table-responsive">
                        <form action="~/Home/EOLOrion" method="post">
                            <table>
                                <tr>
                                    <td class="col-md-8"><input asp-for="@Model.SearchText" type="text" class="form-control" placeholder="Enter Client Name."></td>
                                    @* <td>
                                        <input type="date" class="form-control" asp-for="@Model.StartDate" value="@DateTime.Now.AddDays(-7).Date">
                                    </td>
                                    <td>
                                        <input type="date" class="form-control" asp-for="@Model.EndDate" value="@DateTime.Now.Date">
                                    </td> *@
                                </tr>

                                <tr>
                                    <td class="col-md-4"><button type="submit" class="btn btn-primary">Search</button></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="row" id="orionvalue">

    <div class="card">
        <div class="card-body">
            <div class="col-md-12">
                <div class="material-card card">
                    <div class="card-body">
                        <div class="table-responsive">
                            @if (Model.OrionList.Count() > 0)
                                    {
                                        var count = 1;
                            <table id="complex_head_col" class="table table-striped table-bordered display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Product ID</th>
                                        <th>Product Description</th>
                                        @*<th>End-of-Life Announcement Date</th>*@
                                        <th>End-of-Sale Date</th>
                                        @*<th>Last Ship Date:HW</th>*@
                                        <th>End of SW Maintenance Releases Date: HW</th>
                                        <th>End of Routine Failure Analysis Date: HW</th>
                                        <th>End of New Service Attachment Date: HW</th>
                                        <th>End of Vulnerability/Security Support: OS SW</th>
                                        <th>End of Service Contract Renewal Date: HW</th>
                                        <th>Last Date of Support: HW</th>
                                        @foreach (var key in Model.OrionList[0].Keys)
                                        {
                                            <th> @key </th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.OrionList)
                                    {
                                        var currenEOLOnj = new EOXResultByProduct();

                                        var currentEOL = Model.EOLList.EOXRecord.Where(r => r.EOLProductID == item["c_HW_Model"].ToString()).ToList();
                                        currenEOLOnj.PaginationResponseRecord = new PaginationResult();
                                        currenEOLOnj.PaginationResponseRecord.PageIndex = count;
                                        currenEOLOnj.EOXRecord = currentEOL;

                                        var rowCount = 1;
                                        if (currentEOL.Count == 0)
                                        {
                                            <tr>
                                                <td>@count</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                @foreach (var itemVal in item)
                                                {
                                                <td>@itemVal.Value</td>
                                                }
                                            </tr>
                                        }
                                        else
                                        {
                                                @foreach (var itemEOL in currentEOL)
                                                {
                                                <tr>
                                                    <td>@count</td>
                                                    <td>
                                                        @itemEOL.EOLProductID
                                                    </td>
                                                    <td>
                                                        @itemEOL.ProductIDDescription
                                                    </td>




                                                    @if (itemEOL.EndOfSaleDate.value == null)
                                                    {
                                                        <td> </td>
                                                    }
                                                    else
                                                    {
                                                        <td> @itemEOL.EndOfSaleDate.value.Value.ToShortDateString() </td>

                                                    }


                                                    @if (itemEOL.EndOfSWMaintenanceReleases.value == null)
                                                    {
                                                        <td> </td>
                                                    }
                                                    else
                                                    {
                                                        <td> @itemEOL.EndOfSWMaintenanceReleases.value.Value.ToShortDateString() </td>

                                                    }
                                                    @if (itemEOL.EndOfRoutineFailureAnalysisDate.value == null)
                                                    {
                                                        <td> </td>
                                                    }
                                                    else
                                                    {
                                                        <td> @itemEOL.EndOfRoutineFailureAnalysisDate.value.Value.ToShortDateString() </td>

                                                    }

                                                    @if (itemEOL.EndOfSvcAttachDate.value == null)
                                                    {
                                                        <td> </td>
                                                    }
                                                    else
                                                    {
                                                        <td> @itemEOL.EndOfSvcAttachDate.value.Value.ToShortDateString() </td>

                                                    }


                                                    @if (itemEOL.EndOfSecurityVulSupportDate.value == null)
                                                    {
                                                        <td> </td>
                                                    }
                                                    else
                                                    {
                                                        <td> @itemEOL.EndOfSecurityVulSupportDate.value.Value.ToShortDateString() </td>

                                                    }

                                                    @if (itemEOL.EndOfServiceContractRenewal.value == null)
                                                    {
                                                        <td> </td>
                                                    }
                                                    else
                                                    {
                                                        <td> @itemEOL.EndOfServiceContractRenewal.value.Value.ToShortDateString() </td>

                                                    }

                                                    @if (itemEOL.LastDateOfSupport.value == null)
                                                    {
                                                        <td> </td>
                                                    }
                                                    else
                                                    {
                                                        <td> @itemEOL.LastDateOfSupport.value.Value.ToShortDateString() </td>

                                                    }

                                                    @if (rowCount == 1)
                                                    {
                                                        foreach (var itemVal in item)
                                                        {
                                                            <td>@itemVal.Value</td>
                                                        }

                                                    }
                                                    else
                                                    {
                                                        foreach (var itemVal in item)
                                                        {
                                                            <td></td>
                                                        }
                                                    }

                                                </tr>
                                                rowCount += 1;
                                            }
                                                }




                                       count += 1;
                                     }
                                            </tbody>
                                </table>
                                    }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

